################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GroupTotals/.vs/GroupTotals/v16
